.center {
  box-sizing: content-box;
  width: 100%;
  margin: auto;
}
.header{
  margin-bottom: 0.4px;
  width: 100%;
  height: 60px;
  background-color: black;
}

.header img{
  margin-top: 15px;
  margin-left: 35%;
  
  height: 40px;
}

.mapa {
  background-color: #ccc;
  height: 300px;
}

.back {
  background-color:#f9f9f9;
  padding: 20px; ;
}
.detalhes-pedido {
  margin-left: 20px;
}

#btn-cheguei{
  margin-bottom: 10px;
}
.acoes {
  margin-left: 10px;
}
/*layout*/
header {
  padding: 10px;
}
  
/* Botões */
  
button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
  
button:hover {
  background-color: #333;
}
  
/* Responsividade */
  
@media only screen and (max-width: 768px) {
  .mapa {
    height: 200px;
  }
}